* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .main {
    width: 100%;
    height: 100vh;
    
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    
   
    
  }
 
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    background-color: #000000cc; 
  }
  .div1{
    opacity: .3; 
  }
 

  .div1:hover{
    opacity: 1;
   
  }
 
  
   p{
    position: relative;
    font-size: 1.4vh;
    font-weight:20;
    
    
    
  } 
  
   h1{
    position: relative;
    margin: -10px;
    font-size: 4em;
    font-weight: 200;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    z-index: 1;
    overflow: hidden;
    
  }
  .hr{
    height:3px;
    background-color: white;
    margin-top: 4px;
    margin-left: -9px;
  }

h1:hover{
  
  background-image:url(back.png) ;
  -webkit-background-clip: text;
  background-position: 0 0;
  
}


  h5{
    position: relative;
    font-size:  x-small;
    font-weight: 100;
    margin-top: -20px;
  
  }
  h3{
    position: relative;
    margin-top: -0px;
  } 
  .div1{
    width: 270px;
    height : 100px;
    align-items: center;
  

  }
/* anku */
